<div
  class="card"
  [ngClass]="cardClasses"
  [ngStyle]="{
    'border-left': course.gradeStatus === 'passed'
      ? '8px solid green'
      : course.gradeStatus === 'failed'
      ? '8px solid red'
      : '8px solid gray'
  }"
  appHighlight="aliceblue">

  <h3>{{ course.name }}</h3>

  <p>Course ID: {{ course.id }}</p>

  <p>Course Code: {{ course.code }}</p>

  <p>Credits: {{ course.credits | creditLabel }}</p>

  <div [ngSwitch]="course.gradeStatus">

    <p
      *ngSwitchCase="'passed'"
      class="passed"
      [ngStyle]="{'font-size':'18px'}">
      Passed
    </p>

    <p
      *ngSwitchCase="'failed'"
      class="failed"
      [ngStyle]="{'font-size':'18px'}">
      Failed
    </p>

    <p
      *ngSwitchCase="'pending'"
      class="pending"
      [ngStyle]="{'font-size':'18px'}">
      Pending
    </p>

    <p *ngSwitchDefault>
      Unknown
    </p>

  </div>

 <button (click)="enroll()">
  {{ isEnrolled() ? 'Unenroll' : 'Enroll' }}
</button>

  <button (click)="toggleDetails()">
    {{ isExpanded ? 'Hide Details' : 'Show Details' }}
  </button>

  <div *ngIf="isExpanded">
    <hr>
    <p><strong>Course Name:</strong> {{ course.name }}</p>
    <p><strong>Course Code:</strong> {{ course.code }}</p>
    <p><strong>Credits:</strong> {{ course.credits | creditLabel }}</p>
    <p><strong>Status:</strong> {{ course.gradeStatus }}</p>
  </div>

</div>